{% extends "base.html" %}

{% block title %}
Tentang Kami
{% endblock %}

{% block content %}
<div class="container mt-5">
  
    <h2>Anggota Tim</h2>
    <ul>
        <li><strong>Tubagus Farhan</strong> - Penikmat Teh  </li>
        <li><strong>Anggota 2</strong> </li>
        <li><strong>Anggota 3</strong> </li>
        <li><strong>Anggota 4</strong> </li>
        <li><strong>Anggota 5</strong> </li>
        <li><strong>Anggota 6</strong> </li>
    </ul>
    
    <h2>Tentang Proyek</h2>
    <p>Aplikasi ini dirancang untuk mendemonstrasikan penggunaan teknik kriptografi dalam lingkungan web. Aplikasi ini menampilkan penanganan data yang aman, fungsi enkripsi, dan dekripsi.</p>
</div>
{% endblock %}