{% extends "base.html" %}

{% block title %}
Tentang Kami
{% endblock %}

{% block content %}
<div class="container mt-5">
  
    <h2>Anggota Tim</h2>
    <ul>
        <li><strong>Tb. Muhammad Farhan Adnan</strong> 3337220038  </li>
        <li><strong>Ryan Rafael Nainggolan</strong> 3337220036</li>
        <li><strong>Voully Abdullah Zhacque</strong> 3337220066 </li>
        <li><strong>Aditya Sastraatmaja</strong> 3337220090 </li>
        <li><strong>Rojak Kurniawan</strong> 3337220099 </li>
        <li><strong>M Syahril Ridho</strong> 3337220101 </li>
    </ul>
    
    <h2>Tentang Proyek</h2>
    <p>Aplikasi ini dirancang untuk mendemonstrasikan penggunaan teknik kriptografi dalam lingkungan web. Aplikasi ini menampilkan penanganan data yang aman, fungsi enkripsi, dan dekripsi.</p>
</div>
{% endblock %}